nav >ul{
    display : flex;
}
body{
    font-family: "Ancizar Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

}

.nav-title {
color: black;
font-size: 55px;
font-weight: 800;
}
.txt-prmry{
    color:orange;
font-weight: 500;
font-size: 67px;
transform: skewX(15deg);
display: inline-block; 
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
nav li {
    list-style: none;
    margin-right: 50px;
    align-items: center;
}
nav a {
    text-decoration: none;
    color: blueviolet;
}
.btn-prmry{
    border-radius: 9px;
    background: olive;
    border: 0;
    color: wheat;
    font-size: 34px;
    font-weight: 760;
    padding: 70px;
}